body{
    min-height: 100vh;
    min-width: 100vh;
}
.container{
    min-width: 100vh;
    min-height: 100vh;
}
.data-details-holder{
    min-height: 500px;
    margin-top: 2%;
}
.height-50{
    height: 75%!important;
}
.alert{
    position:fixed;
    top: 25px;
    right: 25px;
    max-width: 350px;
    min-width: 200px;
    /* animation-name: disappear; */
    animation-delay: 3s;
    animation-duration: 1s;
}
.table-holder{
    padding: 20px;
    border-radius: 10px;
    box-shadow: -6px 8px 29px -13px rgba(0,0,0,0.50);
    -webkit-box-shadow: -6px 8px 29px -13px rgba(0,0,0,0.50);
    -moz-box-shadow: -6px 8px 29px -13px rgba(0,0,0,0.50);
}
.pagination{
    margin-bottom: 0!important;
}
#mapid{
    height: 100%;
    width: 100%;
}
.border-hard{
    border: 3px solid #000;
}
/* ANIMATIONS */
@keyframes disappear {
    from {opacity: 1}
    to {opacity: 0}
}
